.privacy {
  padding: 4rem;
  letter-spacing: 1px;
}
.privacy p,
.privacy ul,
.privacy h1,
.privacy h2 {
  margin-bottom: 1rem;
}
.privacy h1 {
  font-size: 2rem;
}
.privacy h1,
.privacy h2 {
  text-transform: uppercase;
}
.privacy h2 {
  font-size: 1.5rem;
  margin-top: 2rem;
}
.privacy a {
  color: var(--clr-lime-green);
}
.privacy li {
  color: var(--grayish-blue);
  list-style: inside;
}
@media screen and (max-width: 700px) {
  .privacy {
    padding: 3rem 1rem;
    text-align: center;
  }
}
