.about-intro {
  display: flex;
  padding: 0 4rem;
  background: rgb(39, 79, 156);
  background: linear-gradient(
    320deg,
    rgba(39, 79, 156, 1) 0%,
    rgba(85, 60, 132, 1) 100%
  );
  justify-content: space-around;
}
.about-intro-left svg {
  width: 200px;
  margin-bottom: -15rem;
  margin-top: -15rem;
}
.about-intro-right {
  display: flex;
  justify-content: center;
  flex-direction: column;
}
h1.bxt {
  text-align: end;
  text-transform: uppercase;
  color: var(--clr-white);
}
.wrapper {
  background: var(--clr-grey-9);
}
.about-container {
  padding: 5rem 5rem 2rem 5rem;
}
.box {
  margin-bottom: 3rem;
}
.first,
.second {
  display: grid;
  text-align: left;
  gap: 2rem;
}
.first {
  grid-template-columns: 2fr 1fr;
}
.second {
  grid-template-columns: 1fr 2fr;
}
.about-subhead {
  text-transform: uppercase;
  font-size: 1.1rem;
  color: var(--clr-bright-cyan);
}
.about-head {
  margin-bottom: 2rem;
  font-weight: 500;
}
.descriptions {
  letter-spacing: 0.1rem;
  margin-bottom: 2rem;
}
.about-right {
  margin-top: 3rem;
}
.about-right p {
  background: var(--clr-grey-3);
  padding: 3rem 1.2rem;
  color: var(--clr-white);
  text-align: center;
}
.points {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  margin-top: 2rem;
}
.points li {
  background: var(--clr-grey-9);
  padding: 1rem;
}
.third li {
  margin-bottom: 1rem;
}
.stats {
  font-weight: 600;
  font-size: 2.5rem;
  margin-bottom: 0.5rem;
  color: mediumaquamarine;
  display: block;
}
.location {
  margin-top: 2rem;
}
@media screen and (max-width: 600px) {
  .about-intro {
    padding: 0 0.5rem;
    flex-direction: column;
  }
  .about-intro-left {
    display: flex;
    justify-content: center;
  }
  .about-intro-left svg {
    width: 120px;
  }
  h1.bxt {
    font-size: 2rem;
    text-align: center;
    margin: -3rem auto 1rem auto;
  }
  .about-container {
    padding: 5rem 2rem;
  }
  .box {
    text-align: center;
  }
  .first,
  .second {
    grid-template-columns: 1fr;
  }
}
