.specific-post {
  padding: 4rem;
}
.breadcrumb {
  margin-bottom: 2rem;
}
.breadcrumb .article-title {
  color: var(--clr-dark-blue);
  font-weight: 500;
}
.breadcrumb .article-title:hover {
  color: var(--clr-lime-green);
}
.specific-post img {
  border-radius: 0.25rem;
  height: fit-content;
  object-fit: cover;
}
.specific-post .title {
  text-align: center;
  margin-bottom: 2rem;
}
.author-details {
  display: flex;
  gap: 0.5rem;
  margin-bottom: 1rem;
}
.author-details svg {
  font-size: 1.5rem;
  vertical-align: top;
  margin-left: 0.5rem;
  color: var(--clr-bright-cyan);
}
.author-details .date {
  padding-left: 0.5rem;
  border-left: 2px solid var(--clr-grey-7);
}
.specific-post figcaption {
  padding-left: 0.5rem;
  color: var(--clr-grey-7);
  padding-top: 0.25rem;
  font-weight: 300;
  border-left: 2px solid var(--clr-grey-7);
}
.description p {
  margin: 1.5rem 0 0.5rem;
}
.description .para p:first-child {
  margin-top: 3rem;
}
.description .para-header {
  text-transform: uppercase;
  margin-top: 2rem;
}
.description .para-header::after {
  display: block;
  content: "";
  width: 10vw;
  border-bottom: 10px solid var(--clr-bright-cyan);
}
.para-fact {
  padding-left: 4rem;
  background: var(--clr-grey-8);
}
.para-statement {
  background: var(--clr-grey-8);
  border-left: 5px solid var(--clr-bright-cyan);
}
.para-quote {
  display: flex;
  gap: 1rem;
  margin-bottom: -3rem !important;
  font-style: italic;
}
.para-quote:before {
  content: open-quote;
  font-size: 6rem;
  margin-top: -3rem;
  color: var(--clr-grey-8);
}
.para-fact,
.para-statement,
.para-quote {
  font-size: 1.2rem;
  padding: 2rem;
  color: var(--clr-dark-blue);
  letter-spacing: 1px;
}
.para-group {
  display: flex;
  gap: 1rem;
  align-items: baseline;
}
.para-group .para-left,
.para-right {
  padding: 2rem 1.5rem;
  color: var(--clr-white);
}
.para-left {
  background: var(--clr-grey-1);
}
.para-right {
  background: var(--clr-primary-2);
}
.other {
  padding: 1rem 4rem 4rem;
}
.other .header {
  margin-bottom: 1rem;
}
.other-post {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 2rem;
}
.text {
  margin-bottom: 0.5rem;
}
.text svg {
  font-size: 1.5rem;
  vertical-align: bottom;
}
.next-post-head {
  text-align: right;
}
@media screen and (max-width: 700px) {
  .specific-post {
    padding: 4rem 2rem;
  }
  .specific-post h1 {
    font-size: 2rem;
  }
  .specific-post img {
    height: auto;
    object-fit: contain;
  }
  .para-quote {
    padding-left: 0 !important;
    margin-bottom: 1rem !important;
  }
  .para-group {
    flex-direction: column;
  }
  .other {
    padding: 1rem 0.5rem 3rem;
  }
  .other h3 {
    text-align: center;
  }
  .other-post {
    grid-template-columns: 1fr;
    text-align: -webkit-center;
  }
  .text {
    padding: 0 2rem;
  }
  .prev-post-head {
    text-align: left;
  }
}
