.hero {
  display: flex;
  position: relative;
  z-index: -1;
}
.title {
  font-weight: 400;
  font-size: 3rem;
  margin-bottom: 2rem;
  color: var(--clr-dark-blue);
}
.sub-title {
  font-size: 1.2rem;
  line-height: 1.7;
  color: var(--grayish-blue);
  margin-bottom: 2rem;
}
.left {
  display: flex;
  flex-direction: column;
  padding: 1rem;
}
.right {
  height: 320px;
  overflow: hidden;
}
.right .bg-icon {
  position: relative;
  top: -400px;
  left: -250px;
  transform: scale(0.65);
  z-index: -2;
}
.right .mock {
  position: absolute;
  z-index: 99;
}
.feature {
  padding: 3rem 4rem 3rem 6rem;
}
.section-top {
  margin-bottom: 1rem;
}
.head {
  font-weight: 300;
  margin-bottom: 2rem;
}
.sub-head {
  font-size: 1.2rem;
}
.feature-container {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  gap: 1rem;
}
.feature-logo img {
  margin: 2rem 0;
}
.feature-list h1 {
  font-size: 1.2rem;
  font-weight: 600;
  margin-bottom: 1.5rem;
}
@media screen and (max-width: 320px) {
  .right .mock {
    top: -60vh;
    left: -70vw;
    transform: scale(0.4);
  }
}
@media screen and (max-width: 425px) {
  .right .mock {
    top: -60vh;
    transform: scale(0.4);
    left: -40vw;
  }
}
@media screen and (min-width: 426px) {
  .right .mock {
    top: -60vh;
    transform: scale(0.4);
    left: 0vw;
  }
}
@media screen and (max-width: 700px) {
  .hero {
    flex-direction: column-reverse;
  }
  .left {
    text-align: center;
  }
  .feature {
    padding: 3rem;
    text-align: center;
  }
  .head {
    font-size: 2.5rem;
  }
}
@media screen and (min-width: 701px) {
  .hero {
    max-height: 500px;
  }
  .right {
    height: auto;
  }
  .right .bg-icon {
    left: -300px;
    top: -350px;
    transform: scale(0.5);
  }
  .right .mock {
    top: -40vh;
    left: 35vw;
    transform: scale(0.6);
  }
  .left {
    width: 180%;
    padding: 2rem;
  }
  .feature .section-top {
    max-width: 60%;
  }
  .feature-container {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media screen and (min-width: 900px) {
  .hero {
    max-height: 550px;
  }
  .left {
    padding: 6rem 3rem 0 6rem;
    width: 100%;
  }
  .right .bg-icon {
    top: -30vh;
    left: -20vw;
    transform: scale(0.65);
  }
  .right .mock {
    top: -25vh;
    left: 45vw;
    transform: scale(0.8);
  }
  .feature-container {
    grid-template-columns: repeat(4, 1fr);
  }
}
@media screen and (min-width: 1240px) {
  .hero {
    max-height: 750px;
  }
  .title {
    font-size: 3.5rem;
  }
  .left {
    width: 70%;
    padding: 8rem 1rem 0 7rem;
  }
  .right .bg-icon {
    top: -25vh;
    left: -10vw;
    transform: scale(0.85);
  }
  .right .mock {
    top: -10vh;
    left: 50vw;
    transform: scale(1);
  }
}
@media screen and (min-width: 2100px) {
  .left {
    width: 50%;
    padding: 8rem 8rem 0 7rem;
  }
  .right .bg-icon {
    top: -7vh;
    left: 3vw;
    transform: scale(1.2);
  }
  .right .mock {
    top: -10vh;
    left: 60vw;
    transform: scale(1.2);
  }
}
