.hero {
  display: flex;
}
.title {
  font-weight: 400;
  font-size: 3rem;
  margin-bottom: 2rem;
  color: var(--clr-dark-blue);
}
.sub-title {
  font-size: 1.2rem;
  line-height: 1.7;
  color: var(--grayish-blue);
  margin-bottom: 2rem;
}
.left {
  display: flex;
  flex-direction: column;
  padding: 1rem;
}
.right {
  height: 320px;
  overflow: hidden;
}
.right img {
  position: relative;
  top: -400px;
  left: -250px;
  transform: scale(0.65);
  z-index: -22;
}
.feature {
  padding: 3rem 8rem;
  background-color: var(--light-grayish-blue);
}
.section-top {
  margin-bottom: 1rem;
}
.head {
  font-weight: 300;
  margin-bottom: 2rem;
}
.sub-head {
  font-size: 1.2rem;
}
.feature-container {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  gap: 1rem;
}
.feature-logo img {
  margin: 2rem 0;
}
.feature-list h1 {
  font-size: 1.2rem;
  font-weight: 600;
  margin-bottom: 1.5rem;
}
@media screen and (max-width: 700px) {
  .hero {
    flex-direction: column-reverse;
  }
  .left {
    text-align: center;
  }
  .feature {
    padding: 3rem;
    text-align: center;
  }
  .head {
    font-size: 2.5rem;
  }
}
@media screen and (min-width: 700px) {
  .hero {
    max-height: 500px;
  }
  .right {
    height: auto;
  }
  .right img {
    left: -300px;
    top: -350px;
    transform: scale(0.5);
  }
  .left {
    width: 200%;
    padding: 2rem;
  }
  .feature .section-top {
    max-width: 60%;
  }
  .feature-container {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media screen and (min-width: 900px) {
  .hero {
    max-height: 550px;
  }
  .left {
    padding: 6rem 1rem 0 6rem;
    width: 150%;
  }
  .right img {
    top: -300px;
    transform: scale(0.55);
  }
  .feature-container {
    grid-template-columns: repeat(4, 1fr);
  }
}
@media screen and (min-width: 1240px) {
  .hero {
    max-height: 600px;
  }
  .title {
    font-size: 4rem;
  }
  .left {
    width: 80%;
    padding: 8rem 1rem 0 7rem;
  }
  .right img {
    left: -100px;
    transform: scale(0.75);
  }
}
