.blog {
  min-height: 85vh;
  display: flex;
  gap: 2rem;
  padding: 4rem;
  background: var(--clr-grey-9);
}
.blog .feature {
  padding: 0;
}
#header-search {
  background: none;
  border-bottom: 2px solid var(--clr-bright-cyan);
  border-radius: 0px;
}
#header-search:focus-visible {
  outline: 0;
}
.no-post {
  height: 50vh;
  overflow: auto;
}
@media screen and (max-width: 700px) {
  .blog {
    flex-direction: column;
    padding: 2rem 0;
    text-align: center;
  }
}
@media screen and (min-width: 701px) {
  .blog .feature-container {
    grid-template-columns: repeat(1, 1fr);
  }
  .blog .posts .post {
    display: flex;
  }
  .blog .posts .post img {
    width: 250px;
    object-fit: cover;
    border-radius: 0.5rem 0 0 0.5rem;
  }
}
